In [1]:
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasClassifier
from keras.utils import np_utils
from sklearn.preprocessing import LabelEncoder

Using TensorFlow backend.
/home/utkarsh/.local/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/utkarsh/.local/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/utkarsh/.local/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/utkarsh/.local/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/utkarsh/.local/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/utkarsh/.local/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/home/utkarsh/.local/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/utkarsh/.local/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/utkarsh/.local/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/utkarsh/.local/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/utkarsh/.local/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/utkarsh/.local/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [2]:
X = pd.read_csv('X.csv')
Y = pd.read_csv('Y.csv')

In [20]:
X = X[["0", "1", "2", "3", "4", "5"]]

In [6]:
Y = Y['flairs']

In [7]:
encoder = LabelEncoder()
encoder.fit(Y)
encoded_Y = encoder.transform(Y)
dummy_y = np_utils.to_categorical(encoded_Y)
dummy_y

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]], dtype=float32)

In [14]:
def baseline_model():

    model = Sequential()
    model.add(Dense(12, input_dim=6, activation='relu'))
    model.add(Dense(12, activation='softmax'))
    model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
    return model

In [15]:
estimator = KerasClassifier(build_fn=baseline_model, epochs=200, batch_size=10, verbose=0)

In [21]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

kfold = KFold(n_splits=4, shuffle=True)
results = cross_val_score(estimator, X, dummy_y, cv=kfold)
print("Baseline: %.2f%% (%.2f%%)" % (results.mean()*100, results.std()*100))

WARNING:tensorflow:From /home/utkarsh/.local/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

Baseline: 31.39% (4.56%)

NON DEEP LEARNING MODEL ->

In [22]:
from sklearn.ensemble import RandomForestClassifier

estimator = RandomForestClassifier()

In [23]:
kfold = KFold(n_splits=4, shuffle=True)
results = cross_val_score(estimator, X, Y, cv=kfold)
print("Baseline: %.2f%% (%.2f%%)" % (results.mean()*100, results.std()*100))

Baseline: 50.42% (1.31%)

/home/utkarsh/.local/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/home/utkarsh/.local/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/home/utkarsh/.local/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/home/utkarsh/.local/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

CHECKING PERFORMANCE OF MODEL WITHOUT SCALING

In [24]:
X_unscaled = pd.read_csv('X_unscaled.csv')
X_unscaled

      Unnamed: 0             0     1     2  3     4  5
0              0  1.589841e+09  2339   162  0  0.98  1
1              1  1.590081e+09    62   218  0  0.99  0
2              2  1.590560e+09   114  3061  0  0.97  1
3              3  1.590544e+09   152  1466  0  0.90  1
4              4  1.590553e+09    92   699  1  0.94  0
...          ...           ...   ...   ... ..   ... ..
1062        1062  1.590494e+09    12    13  0  0.66  1
1063        1063  1.590501e+09     5     7  0  0.83  0
1064        1064  1.590503e+09     5     7  0  0.73  0
1065        1065  1.590483e+09    22    19  0  0.95  1
1066        1066  1.590502e+09     0     6  0  0.81  1

[1067 rows x 7 columns]

In [25]:
X_unscaled = X_unscaled[["0", "1", "2", "3", "4", "5"]]
X_unscaled

                 0     1     2  3     4  5
0     1.589841e+09  2339   162  0  0.98  1
1     1.590081e+09    62   218  0  0.99  0
2     1.590560e+09   114  3061  0  0.97  1
3     1.590544e+09   152  1466  0  0.90  1
4     1.590553e+09    92   699  1  0.94  0
...            ...   ...   ... ..   ... ..
1062  1.590494e+09    12    13  0  0.66  1
1063  1.590501e+09     5     7  0  0.83  0
1064  1.590503e+09     5     7  0  0.73  0
1065  1.590483e+09    22    19  0  0.95  1
1066  1.590502e+09     0     6  0  0.81  1

[1067 rows x 6 columns]

In [26]:
kfold = KFold(n_splits=4, shuffle=True)
results = cross_val_score(estimator, X_unscaled, Y, cv=kfold)
print("Baseline: %.2f%% (%.2f%%)" % (results.mean()*100, results.std()*100))

Baseline: 50.14% (2.45%)

/home/utkarsh/.local/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/home/utkarsh/.local/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/home/utkarsh/.local/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/home/utkarsh/.local/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

Observation ->
There is not a sifnificant diffirence is scaled and inscaled version
Due to the added overhead of scaling, we might skip it in the future.

TESTING WITH REMOVING ONE FEATURE

In [28]:
X_new = X[['1', '2', '3', '4', '5']]
X_new

             1         2    3         4    5
0     0.998719  0.052359  0.0  0.976744  1.0
1     0.026473  0.070459  0.0  0.988372  0.0
2     0.048676  0.989334  0.0  0.965116  1.0
3     0.064902  0.473820  0.0  0.883721  1.0
4     0.039283  0.225921  0.5  0.930233  0.0
...        ...       ...  ...       ...  ...
1062  0.005124  0.004202  0.0  0.604651  1.0
1063  0.002135  0.002262  0.0  0.802326  0.0
1064  0.002135  0.002262  0.0  0.686047  0.0
1065  0.009394  0.006141  0.0  0.941860  1.0
1066  0.000000  0.001939  0.0  0.779070  1.0

[1067 rows x 5 columns]

In [29]:
kfold = KFold(n_splits=4, shuffle=True)
results = cross_val_score(estimator, X_new, Y, cv=kfold)
print("Baseline: %.2f%% (%.2f%%)" % (results.mean()*100, results.std()*100))

Baseline: 44.33% (2.58%)

/home/utkarsh/.local/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/home/utkarsh/.local/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/home/utkarsh/.local/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/home/utkarsh/.local/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

Observation:
    Our accuracy drops as expected.
    We have decided all neccisary features.